/*COLOR
 * #0c0807 black
 * #cce1d9 off-white
 * #c36344 orange
 * */

@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    body {
        background-color: #0c0807;
        color: #cce1d9;
        font-family: "DM Sans", sans-serif;
    }

    #topper {
        background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/rockcms/2024-04/240417-jailhouse-informants-cs-4281b3.jpg);
       background-repeat: no-repeat;
        background-size: cover;s
        background-position: center;
        background-color: #c36344;
    }

    h1 {
        padding-top: 100px;
        font-family: "Castoro Titling", serif;
    }
    h2 {
        padding: 100px 0 200px 0;

        margin: auto;
    }

    #info {
        text-align: center;
    }

    #content {
        text-align: left;
        width: 50%;
    }
    p {
        padding-bottom: 7.5px;
        padding-top: 7.5px;
        line-height: 2.5;
    }
    .pullquote {
        background-color: #c36344;
        color: #0c0807;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.9;
        font-style: italic;
        padding: 13px;
        border-radius: 10px;
        padding-bottom: 15px;
        text-align: center;
    }
    .quote {
        padding-top: 20px;
    }
    .attribution {
        padding: none;
        text-align: center;
    }

    .quotemark {
        font-family: cursive;
        font-size: 75px;
        float: left;
    }

    a {
        color: #c36344;
        text-decoration-line: none;
    }
    a:hover {
        text-decoration-line: underline;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
    /*Adjustments only)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
    /*Adjustments only)*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/

    /*Adjustments only)*/
}
