@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    body {
        background-color: #0c0807;
        color: #cce1d9;
        font-family: "DM Sans", sans-serif;
    }

    #topper {
        background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/rockcms/2024-04/240417-jailhouse-informants-cs-4281b3.jpg);
        background-size: cover;
        background-position: center;
    }

    h1 {
        padding-top: 100px;
        font-family: "Castoro Titling", serif;
    }
    h2 {
        padding: 100px 0px 200px 0px;

        margin: auto;
    }

    #info {
        text-align: center;
    }

    #content {
        text-align: left;
        width: 50%;
    }
    p {
        padding-bottom: 15px;
        line-height: 2.5;
    }
    .pullquote {
        border-left: 5px solid #cce1d9;
        background-color: #c36344;
        opacity: 75%;
        color: #0c0807;
        line-height: 1;
        font-size: 20px;
    }
    .quote {
        padding-top: 20px;
    }
    .attribution {
        padding: none;
        text-align: center;
    }

    .quotemark {
        font-family: cursive;
        font-size: 75px;
        float: left;
    }

    a {
        color: #c36344;
        text-decoration-line: none;
    }
    a:hover {
        text-decoration-line: underline;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
    /*Adjustments only)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
    /*Adjustments only)*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/

    /*Adjustments only)*/
}
