/*COLOR
 * #0c0807 black
 * #cce1d9 off-white
 * #c36344 orange
 * */
@media {
    /*MOBILE*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    body {
        background-color: #0c0807;
        color: #cce1d9;
        font-family: "DM Sans", sans-serif;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    #topper {
        background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/rockcms/2024-04/240417-jailhouse-informants-cs-4281b3.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }

    h1 {
        padding-top: 75px;
        text-align: center;
        font-size: 16px;
        font-family: "Castoro Titling", serif;
        position: relative;
    }

    #topper p {
        padding-bottom: 100px;
        text-align: center;
        padding-top: 110px;
    }

    #info {
        text-align: center;
    }

    #content {
        text-align: left;
        width: 100%;
    }
    p {
        padding-bottom: 7.5px;
        padding-top: 7.5px;
    }
    .pullquote {
        background-color: #c36344;
        color: #0c0807;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.9;
        font-style: italic;
        padding: 13px;
        border-radius: 10px;
        padding-bottom: 15px;
        text-align: center;
    }
    .quote {
        padding-top: 20px;
    }
    .attribution {
        text-align: center;
    }

    .quotemark {
        font-family: cursive;
        font-size: 75px;
        float: left;
    }

    a {
        color: #c36344;
        text-decoration-line: none;
    }
    a:hover {
        text-decoration-line: underline;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    /*NOT MOBILE*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
    /*Adjustments only)*/

    #topper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        padding: 250px 0 0 0;
        font-family: "Castoro Titling", serif;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    #content {
        width: 50%;
    }
}
