/*
MY COLOR PALETTE
Color 1 - #101d4e
Color 2 - #E1F2FE
Color 3 - #B2B1CF
Color 4 - #77625C
Color 5- #2C1A1D
*/

body {
    background-color: #e1f2fe;
    text-align: center;
}

button {
    background-color: #77625c;
    color: #e1f2fe;
    font-family: "Oxygen", sans-serif;
    width:200px;
    padding:20px;
    margin:10px;
    text-transform:uppercase;
    border:none;
    border-radius:5px;
}

button:hover {
    background-color: #2c1a1d;
}

h1 {
    font-family: "Noto Serif", serif;
    color: #101d4e;
}

h2 {
    font-family: "Oxygen", sans-serif;
    color: #2c1a1d;
}
