/*
 * HEX 
 * BLACK #18161A
 * BROWN #3E2E28
 * OFF WHITE #FDF1F5
 */

@media {
    #topper {
        text-align: center;
        background-color: #18161a;
        color: #fdf1f5;
    }

    button {
        background-color: #e7bac8;
        font-size: 30px;
        color: #3e2e28;
    }

    button:hover {
        background-color: #f8d6e1;
    }

    button a {
        color: #3e2e28;
        text-decoration: none;
    }

    button a:hover {
        text-decoration: underline;
    }

    img {
        width: 100%;
        margin: auto;
    }
    #bio-text {
        margin: auto;
        font-family: "Montserrat", sans-serif;
    }

    #name {
        font-family: "Alex Brush", cursive;
        font-size: 45px;
    }

    #navigation {
        background-color: #3e2e28;
        text-align: center;
        color: #fdf1f5;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navigation a {
        color: #fdf1f5;
        text-decoration: none;
    }

    #navigation a:hover {
        text-decoration: underline;
    }

    #content {
        background-color: #fdf1f5;
        color: #3e2e28;
        font-family: "Montserrat", sans-serif;
    }

    .section-header {
        padding-top: 40px;
        font-family: "Alex Brush", cursive;
        font-size: 40px;
        text-align: center;
        color: #3e2e28;
    }

    .job-details {
        padding-left: 10px;
    }

    .job-title {
        font-size: 20px;
        text-align: center;
    }
    .company {
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }

    .dates {
        font-size: 15px;
        text-align: center;
    }

    .job-description {
        font-size: 15px;
        text-align: center;
        padding: 30px;
        text-align: justify;
    }

    #listed_skills {
        text-align: justify-all;
        padding-left: 10%;
        font-size: 15px;
    }

    #education_details {
        font-size: 15px;
        padding-left: 15%;
    }

    #school {
        font-style: italic;
    }

    #graduation {
        text-align: right;
        padding-right: 20%;
    }
}

@media (min-width: 576px) {
    #name {
        font-size: 75px;
    }
    .section-header {
        font-size: 75px;
    }

    .job-title {
        font-size: 30px;
    }
    .company {
        font-size: 20px;
    }

    .dates {
        font-size: 15px;
    }

    .job-description {
        font-size: 20px;
    }

    #listed_skills {
        font-size: 30px;
    }

    #education_details {
        font-size: 30px;
    }
}
