/*
 * HEX 
 * BLACK #18161A
 * BROWN #3E2E28
 * OFF WHITE #FDF1F5
 */

@media {
    #topper {
        text-align: center;
        background-color: #18161a;
        color: #fdf1f5;
    }

    button {
        color: #18161a;
        background-color: #e7bac8;
        padding: 10px;
        font-size: 30px;
        color: #3e2e28;
    }

    button:hover {
        background-color: #f8d6e1;
    }
    img {
        width: 100%;
        margin: auto;
    }
    #bio-text {
        margin: auto;
        font-family: "Montserrat", sans-serif;
        text-size
    }
    .title {
    }

    #name {
        font-family: "Alex Brush", cursive;
        font-size: 30px;
    }

    #navigation {
        background-color: #3e2e28;
        text-align: center;
        color: #fdf1f5;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navigation a {
        color: #fdf1f5;
        text-decoration: none;
    }

    #navigation a:hover {
        text-decoration: underline;
    }

    #content {
        background-color: #fdf1f5;
        color: #3e2e28;
        font-family: "Montserrat", sans-serif;
    }

    #experience {
        font-family: "Alex Brush", cursive;
        font-size: 40px;
        text-align: center;
    }
    #skills {
        font-family: "Alex Brush", cursive;
        font-size: 40px;
        text-align: center;
    }
    #education {
        font-family: "Alex Brush", cursive;
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    #name {
        font-size: 70px;
    }
    #experience {
        font-size: 70px;
    }
    #skills {
        font-size: 70px;
    }
    #education {
        font-size: 70px;
    }
}
