/*
 * HEX 
 * BLACK #18161A
 * BROWN #3E2E28
 * OFF WHITE #FDF1F5
 */

@media {
  
    #topper {
        text-align: center;
        background-color: #18161a;
        color: #fdf1f5;
    }

    button {
        color: #18161a;
        background-color: #fdf1f5;
        margin: auto;
    }

    img {
        width: 100%;
        margin: auto;
    }
    #bio-text {
        margin: auto;
    }
    #name {
        font-family: parisienne, serif;
        font-size: 30px;
    }

    #navigation {
        background-color:#3e2e28;
        text-align: center;
        color: #fdf1f5;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navigation a {
        color: #fdf1f5;
        text-decoration: none;
    }
    
    #navigation a:hover{
        text-decoration: underline;
    }

    #content {
        background-color: #fdf1f5;
        color: #3e2e28;
    }
}

@media (min-width: 576px) {
    #name {
        font-size: 70px;
    }
}
